@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.register,
.add {
  margin-left: 31%;
  margin-top: 3%;
}
.inputbox {
  display: block;
  padding: 7px;
  width: 54%;
  border: 1px solid skyblue;
  margin: 7px;
}

.login {
  margin-left: 31%;
  margin-top: 3%;
}
.signBtn,
.addBtn {
  /* margin: 25px;
  width: 13%;
  padding: 1%;
  background: skyblue;
  display: block; */
  width: 13%;
  margin-left: 12px;
  background: skyblue;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  color: white;
  background: skyblue;
  width: 100%;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.nav-ul {
  padding: 5px;
  margin: 0px;
  background: skyblue;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-right {
  text-align: right;
}

.logo {
  width: 43px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.text-center ul li {
  display: inline-block;
  border: 3px solid lightskyblue;
  padding: 3px;
  margin: 3px;
  width: 151px;
}
.text-center ul {
  margin: 0%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.invalid-input {
  margin-left: 25px;
  color: red;
}
